.topic {
    text-align: center;
    font-size: 30px;
    margin-right: 30vh;
    margin-left: 30vh;
    margin-bottom: 10vh;




}

.instructions {
    display: flex;
    margin-right: 40px;
    margin-left: 25px;
    padding-top: 30px;
}

.cont {
    bottom: 100px;
    padding-top: 200px;
    margin-top: 30vh;
    padding-bottom:200px;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';


}

.instructions_cont {
    margin-right: 20vh;
    margin-left: 20vh;
    font-size: 15px;
    
}